* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: #2c3035;
}

#map {
	z-index: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

#menu {
	z-index: 1;
	width: 400px;
	margin: 10px;
	border-radius: 1em;
	position: absolute;
	background: #2c3035;
	padding: 1em;
	font-family: "Open Sans", sans-serif;
	color: aliceblue;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden-radio {
	display: none;
}

.submenu {
	display: grid;
	grid-gap: 12px;
	padding: 12px;
	border-radius: 1em;
	/* margin: 5px; */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#bus {
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows: auto auto;
}
#shift {
	grid-template-columns: auto auto;
}
#menu h3 {
	width: 100%;
	padding: 0.5em;
	/* padding-left: 1em; */
	/* text-align: center; */
}

#menu-close {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 0.5em !important;
	padding: 0.75em;
	cursor: pointer;
	color: #ffffff;
}

#menu-close:hover {
	color: #ffffff;
}

.submenu input,
.submenu label {
	cursor: pointer;
}
.submenu-item {
	display: flex;
	width: auto;
	align-items: center;
	justify-content: center;
	border-radius: 1em;
	background: #3d434d;
}
.submenu-item:hover {
	background: #5e6672;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submenu-item-selected {
	background: #1ba665 !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submenu-item-selected:hover {
	background: #1dba71 !important;
}
.submenu-label {
	width: 100%;
	height: 100%;
	padding: 0.75em;
	text-align: center;
	font-size: large;
	font-weight: bold;
}
.mapboxgl-ctrl-group {
	background: #2c3035;
	border-radius: 0.5em;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 0 0 5.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 0 0 9 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 0 0 3.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0 0 11 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 1 0-7z'/%3E%3Ccircle id='dot' cx='10' cy='10' r='2'/%3E%3Cpath id='stroke' d='M14 5l1 1-9 9-1-1 9-9z' display='none'/%3E%3C/svg%3E");
}

.mapboxgl-ctrl-bus-track {
	background-image: url("media/button-bus.svg");
	background-size: cover;
}

.mapboxgl-ctrl-bus-track.searching {
	background-image: url("media/button-bus-searching.svg");
}

.mapboxgl-ctrl-bus-track.locked {
	background-image: url("media/button-bus-track.svg");
}

.mapboxgl-ctrl-bus-track.locked.focused {
	background-image: url("media/button-bus-track-focus.svg") !important;
}

.bus-marker-element {
	z-index: 1;
	display: block;
	border: none;
	padding: 0;
	background-image: url("media/bus-icon.png");
	height: 48px;
	width: 48px;
	background-size: 100%;
	cursor: pointer;
}

.bus-marker-element.live {
	background-image: url("media/bus-icon-live.png");
}

.mapboxgl-popup {
	z-index: 3;
}

.mapboxgl-user-location {
	z-index: 2;
}

.mapboxgl-ctrl-group button {
	height: 50px;
	width: 50px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact {
	min-width: 50px;
	min-height: 50px;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='50' height='50' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 0 0 5.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 0 0 9 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 0 0 3.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0 0 11 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 1 0-7z'/%3E%3Ccircle id='dot' cx='10' cy='10' r='2'/%3E%3Cpath id='stroke' d='M14 5l1 1-9 9-1-1 9-9z' display='none'/%3E%3C/svg%3E");
}

#bus-menu-button a {
	font-size: large;
	font-weight: bold;
	color: white;
}

@media only screen and (max-width: 640px) {
	.mapboxgl-ctrl-attrib-button {
		height: 50px;
		width: 50px;
	}
	.mapboxgl-ctrl-attrib.mapboxgl-compact-show {
		padding-right: 58px;
	}
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#menu {
		display: none;
		top: 20%;
		height: auto;
		width: 90%;
	}
}
